<!DOCTYPE html>
<html>
	<head>
		@include '../layout/head.html'
	</head>
	<body>
		@include '../layout/header.html'

		<div class="content">
			@include '../layout/repo_menu.html'

			<div class="settings-header">
				<h1 class="settings-title">%webhooks</h1>
				<a class="settings-header__new" href="/@repo.user_name/@repo.name/settings/webhooks/new">%webhook_new</a>
			</div>

			@if webhooks.len == 0
				<div class="issues-empty">%webhook_none</div>
			@else
				<ul class="webhook-list">
					@for wh in webhooks
						<li class="webhook-row">
							<div class="webhook-row__body">
								<a class="webhook-row__url" href="/@repo.user_name/@repo.name/settings/webhooks/@wh.id">@wh.url</a>
								<div class="webhook-row__meta">
									@if wh.is_active
										<span class="webhook-badge webhook-badge--active">%webhook_active</span>
									@else
										<span class="webhook-badge webhook-badge--inactive">%webhook_inactive</span>
									@end
									<span>@wh.events</span>
								</div>
							</div>
							<form method="post" action="/@repo.user_name/@repo.name/settings/webhooks/@wh.id/delete" class="webhook-row__delete">
								<button type="submit" class="webhook-row__delete-btn">%webhook_delete</button>
							</form>
						</li>
					@end
				</ul>
			@end
		</div>

		@include '../layout/footer.html'
	</body>
</html>
