<ul class="issue-list">
	@for issue_with_user in issues_with_users
		<li class="issue-row">
			<svg class="issue-row__icon" viewBox="0 0 16 16" aria-hidden="true">
				<path fill="#1a7f37" d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"/>
				<path fill="#1a7f37" fill-rule="evenodd" d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0ZM1.5 8a6.5 6.5 0 1 0 13 0 6.5 6.5 0 0 0-13 0Z"/>
			</svg>
			<div class="issue-row__body">
				<div class="issue-row__heading">
					<a class="issue-row__title" href="/@issue_with_user.item.repo_author/@issue_with_user.item.repo_name/issue/@issue_with_user.item.id">@{issue_with_user.item.formatted_title()}</a>
					@if issue_with_user.item.labels.len > 0
						<span class="issue-row__labels">
							@for label in issue_with_user.item.labels
								<span class="issue-label" style="background-color: #@label.color">@label.name</span>
							@end
						</span>
					@end
				</div>
				<div class="issue-row__meta">
					@if show_repo_link
						<a class="issue-row__repo" href="/@issue_with_user.item.repo_author/@issue_with_user.item.repo_name">@issue_with_user.item.repo_author/@issue_with_user.item.repo_name</a>
						<span>&middot;</span>
					@end
					<span>#@issue_with_user.item.id</span>
					<span>%issue_opened @issue_with_user.item.relative_time() %issue_by</span>
					<a class="issue-row__author" href="/@issue_with_user.user.username">@issue_with_user.user.username</a>
				</div>
			</div>
			@if issue_with_user.item.comments_count > 0
				<a class="issue-row__comments" href="/@issue_with_user.item.repo_author/@issue_with_user.item.repo_name/issue/@issue_with_user.item.id" title="%issue_comments_title">
					<svg viewBox="0 0 16 16" aria-hidden="true"><path fill="currentColor" d="M1 2.75A1.75 1.75 0 0 1 2.75 1h10.5A1.75 1.75 0 0 1 15 2.75v8.5A1.75 1.75 0 0 1 13.25 13H8.06l-2.573 2.573A1.458 1.458 0 0 1 3 14.543V13H2.75A1.75 1.75 0 0 1 1 11.25Z"/></svg>
					@issue_with_user.item.comments_count
				</a>
			@end
		</li>
	@end
</ul>
