<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		.form-error {
			@ctx.form_error
		}

		<div class="content">
			@include 'layout/repo_menu.html'

			<div class="issue-header">
				<h1 class="issue-header__title">@{issue.formatted_title()} <span class="issue-header__id">#@issue.id</span></h1>
			</div>

			<div class="issue-post">
				<a href="/@issue_author.username" class="issue-post__avatar">
					<img src="@{app.prepare_user_avatar_url(issue_author.avatar)}">
				</a>
				<div class="issue-post__body">
					<div class="issue-post__meta">
						<a href="/@issue_author.username" class="issue-post__author">@issue_author.username</a>
						<span class="issue-post__time">%issue_opened @{issue.relative_time()}</span>
					</div>
					<div class="markdown-body issue-post__content">@{issue.formatted_body()}</div>
				</div>
			</div>

			@for comment_with_user in comments_with_users
				<div class="issue-post issue-post--comment">
					<a href="/@comment_with_user.user.username" class="issue-post__avatar">
						<img src="@{app.prepare_user_avatar_url(comment_with_user.user.avatar)}">
					</a>
					<div class="issue-post__body">
						<div class="issue-post__meta">
							<a href="/@comment_with_user.user.username" class="issue-post__author">@comment_with_user.user.username</a>
							<span class="issue-post__time">%pr_commented @comment_with_user.item.relative()</span>
						</div>
						<div class="issue-post__content">@comment_with_user.item.text</div>
					</div>
				</div>
			@end

			@if ctx.logged_in
				<form method='post' class='comment-form' action='/@repo.user_name/@repo.name/comments'>
					<textarea class='comment-form__input' name='text' placeholder='%pr_leave_comment' required></textarea>
					<input type='hidden' name='issue_id' value='@issue.id'>
					<div class="comment-form__actions">
						<input type='submit' class="comment-form__submit" name='submit' value='%pr_comment_button'>
					</div>
				</form>
			@end
		</div>

		@js '/js/block-form.js'
		@include 'layout/footer.html'
	</body>
</html>
