<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<div class="content">
			@include 'layout/repo_menu.html'

			<div class="issues-header">
				<h1 class="issues-header__title">%issue_issues</h1>
				@if ctx.logged_in
					<a class="issues-header__new" href='/@repo.user_name/@repo.name/issues/new'>%issue_new</a>
				@end
			</div>

			@if issues_with_users.len == 0
				<div class="issues-empty">%issue_none</div>
			@else
				@include '_issue_list.html'

				<div class="issue-pager">
					@if first
						<span class="issue-pager__btn issue-pager__btn--disabled">Prev</span>
					@else
						<a class="issue-pager__btn" href="/@repo.user_name/@repo.name/issues/@prev_page">Prev</a>
					@end
					<span class="issue-pager__info">@page of @page_count</span>
					@if last
						<span class="issue-pager__btn issue-pager__btn--disabled">Next</span>
					@else
						<a class="issue-pager__btn" href="/@repo.user_name/@repo.name/issues/@next_page">Next</a>
					@end
				</div>
			@end
		</div>

		@include 'layout/footer.html'
	</body>
</html>
