<!DOCTYPE html>
<html>
	<head>
		@include 'layout/head.html'
	</head>
	<body>
		@include 'layout/header.html'

		<article>
			<div class="block">
				<h1>%open_source_title</h1>

				<p>%open_source_intro</p>

				<h3>%open_source_ee_only_title</h3>

				<ul class="list">
					<li>%open_source_feat_advanced_search</li>
					<li>%open_source_feat_mr_approvals</li>
					<li>%open_source_feat_security_scanning</li>
					<li>%open_source_feat_dependency_scanning</li>
					<li>%open_source_feat_compliance</li>
					<li>%open_source_feat_audit_events</li>
					<li>%open_source_feat_epics</li>
					<li>%open_source_feat_roadmaps</li>
					<li>%open_source_feat_portfolio</li>
					<li>%open_source_feat_protected_envs</li>
					<li>%open_source_feat_geo</li>
					<li>%open_source_feat_dr</li>
					<li>%open_source_feat_group_saml</li>
					<li>%open_source_feat_ldap_sync</li>
					<li>%open_source_feat_push_rules</li>
					<li>%open_source_feat_insights</li>
				</ul>

				<p>%raw open_source_outro</p>
			</div>
		</article>

		@include 'layout/footer.html'
	</body>
</html>
