<!DOCTYPE html>
<html>
	<head>
		@include '../layout/head.html'
	</head>
	<body>
		@include '../layout/header.html'

		<div class="content">
			<div class="user-issues-layout">
				@include '_issues_sidebar.html'

				<div class="user-issues-main">
					<div class="issues-header">
						<h1 class="issues-header__title">%issue_your_issues</h1>
					</div>

					@if issues_with_users.len == 0
						<div class="issues-empty">
							@if current_tab == 'assigned'
								%issue_none_assigned
							@else if current_tab == 'mentioned'
								%issue_none_mentioned
							@else if current_tab == 'activity'
								%issue_none_activity
							@else
								%issue_none_created
							@end
						</div>
					@else
						@include '../_issue_list.html'
					@end
				</div>
			</div>
		</div>

		@include '../layout/footer.html'
	</body>
</html>
