<!DOCTYPE html>
<html>
	<head>
		@include '../layout/head.html'
	</head>
	<body>
		@include '../layout/header.html'

		<div class="content">
			<div class="repos-header">
				<div class="avatar">
					<img src="@{app.prepare_user_avatar_url(user.avatar)}">
				</div>
				<h1>@{user.username}'s repositories</h1>
			</div>

			@if repos.len > 0
				<div class="repo-list">
					@for repo in repos
						<a class="repo-card" href="/@user.username/@repo.name">
							<div class="repo-card__header">
								<span class="repo-card__title">@repo.name</span>
								@if repo.is_public
									<span class="repo-card__badge">Public</span>
								@else
									<span class="repo-card__badge repo-card__badge--private">Private</span>
								@end
							</div>
							@if repo.description.len > 0
								<p class="repo-card__desc">@repo.description</p>
							@end
							<div class="repo-card__meta">
								<span class="repo-card__meta-item" title="Stars">&#9733; @repo.nr_stars</span>
								<span class="repo-card__meta-item" title="Open issues">&#9679; @repo.nr_open_issues</span>
								<span class="repo-card__meta-item" title="Branches">&#9874; @repo.nr_branches</span>
							</div>
						</a>
					@end
				</div>
			@else
				<p class="repos-empty">No repositories yet.</p>
			@end
		</div>

		@include '../layout/footer.html'
	</body>
</html>
